body {
  background-color: rgb(114, 100, 82);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
}

header {
  height: 50px;
  background-color: rgb(59, 134, 134);
  border: solid 1px white;
  display: flex;
  /* Y axis (left to right) */
  justify-content: center;
  /* X axis (top to bottom)0. */
  align-items: center;
  /* top right bottom left like a clock*/
  margin: 20px 20px 0px 20px;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 20px;
  /* margin-left: 20px;
      margin-right: 20px; */
  margin: 0px 20px 20px 20px;
}

nav {
  flex: 20%;
  /* short for flex-grow flex-shrink and flex-basis */
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  flex: 80%;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
}
